# printing Statements

In [1]:
print("Hello")
print("\n")
print("World")

Hello


World

In [5]:
# Sending Multiple Objects with Sep and End Parameters
print('Hello','World',sep=',',end='!')
print('Hello','World',sep=' ',end='!!')

Hello,World!Hello World!!

In [6]:
# Using String Concatenation
string1 = "Hi "
string2 = "Hello "
string3 = "World"
print(string1+","+string2+string3+".")

Hi ,Hello World.

In [8]:
s = 'STRING'
print ('Place another string with a mod and s: %s' %(s))

Place another string with a mod and s: STRING

In [9]:
#Floating Point Numbers
print ('Floating point numbers: %1.2f' %(13.144))
print ('Floating point numbers: %1.0f' %(13.144))

Floating point numbers: 13.14
Floating point numbers: 13

In [11]:
# Conversion Format methods.
print ('Here is a number: %s. Here is a string: %s' %(123.1,'hi'))
print ('Here is a number: %r. Here is a string: %r' %(123.1,'hi'))

Here is a number: 123.1. Here is a string: hi
Here is a number: 123.1. Here is a string: 'hi'

In [14]:
# Multiple Formatting
print ('First: %s, Second: %1.2f, Third: %r' %('hi!',3.14,22))

First: hi!, Second: 3.14, Third: 22

In [15]:
# Using the string .format() method

print ('This is a string with an {p}'.format(p='insert'))

# Multiple times:
print ('One: {p}, Two: {p}, Three: {p}'.format(p='Hi!'))

# Several Objects:
print ('Object 1: {a}, Object 2: {b}, Object 3: {c}'.format(a=1,b='two',c=12.3))

This is a string with an insert
One: Hi!, Two: Hi!, Three: Hi!
Object 1: 1, Object 2: two, Object 3: 12.3

# String and its methods

In [84]:
text = 'string methods'
 
# upper()
print(text.upper())
 
# lower() 
print(text.lower())
 
# converts the first character to upper case and rest to lower case
print(text.title())
 
# original string never changes
print(text)

STRING METHODS
string methods
String Methods
string methods

In [86]:
#capitalize()
string = "hello world"
string.capitalize()

'Hello world'

In [20]:
# casefold()
string.casefold()

'hello world'

In [37]:
# endswith()
string.endswith("d")
string.endswith("o")

False

In [87]:
# endswith()
string.startswith("d")
string.startswith("o")

False

In [90]:
str1 = "hello world"
str2 = "hello"
str1.find("str2")

-1

# list methods

In [51]:
# append
list = [1,2,3,4,5,6]
list.append(9)
print(list)

[1, 2, 3, 4, 5, 6, 9]

In [52]:
# copy
list2 = list.copy()
print(list)

[1, 2, 3, 4, 5, 6, 9]

In [53]:
# count 
list.count(4)

1

In [55]:
#extend
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [57]:
#index()

fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
print(x)

2

In [58]:
# insert()
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")

In [59]:
# pop()
fruits = ['apple', 'banana', 'cherry']
fruits.pop(1)

'banana'

In [61]:
#remove()
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [63]:
#reverse()
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [65]:
#sort()
fruits.sort()
print(fruits)

In [67]:
# clear()
fruits.clear()
print(fruits)

[]

# set methods

In [68]:
#add()
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'cherry', 'orange', 'banana', 'apple'}

In [69]:
#clear()
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

In [70]:
#difference
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

{'cherry', 'banana'}

In [71]:
#difference_update()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

In [72]:
# discard()
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [73]:
#intersection()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [74]:
# intersection_update()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [75]:
# isdisjoint()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

In [77]:
#issuperset()
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

In [78]:
#pop()
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

{'banana', 'apple'}

In [79]:
#remove()
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [80]:
#symmetric_difference()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'microsoft', 'google', 'cherry', 'banana'}

In [81]:
# symmetric_difference_update()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'cherry', 'banana', 'google', 'microsoft'}

In [82]:
#union()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

{'microsoft', 'apple', 'google', 'cherry', 'banana'}

In [83]:
#update()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y)
print(x)

{'microsoft', 'apple', 'google', 'cherry', 'banana'}